//默认样式
body,html{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    -webkit-tap-highlight-color:transparent;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -ms-user-select: none; 
    -moz-user-select: none;
  
}


input,textarea {
    outline: none;
    border: none;
    padding: 0;
}

p {
    margin: 0;
    
}
//自定义变量
$blue:#1378f0;
$light-blue:#7ddee9;
$grey-blue:#d0e1e8;
$green:#46e8b6;
$black:#0b0f1b;
$grey:#8a92a1;
$white:#f3f3f3;






//动画
.pullDown{
    animation: pullDown 500ms ease forwards;
    @keyframes pullDown {
        from {
            height: 0;
        }
        to {
            height: auto;
        }
    }
}

.del {
    height: 0;
}

//header样式
#memo>header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: $blue;
    z-index: 1;
    height: 50px;
    width: 100%;
    box-shadow: 1px 1px 6px #a2a2a2;//换成渐变
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding:0 20px;
    
    p {
        display: block;
        color: #fff;
    }
    .hold{
        box-sizing: border-box;
        height: 100%;
        display: none;
        color: $black;
        font-size: 12px;
        justify-content: space-between;
        flex: 1;
        .quitHold {
            float: left;
            line-height: 63px;
            align-content: center;
            
        }
        .bin {
            float: right;
            line-height: 63px;
            align-content: center;
        }
    }
   
}

//总体布局


.itemWrap {
    // height: 63px;
    background-color: $grey-blue;
}

#memo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:50px;
    
    &>main {
        margin-top:50px;
        flex: 1;
        background-color: rgb(247, 247, 247);   
        .blank{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
            p {
                color: $grey;
            }
        } 
        .items {
            display: flex;
            flex-direction: column;
            font-size: 14px;
            .itemWrap{
                .item {
                    background-color: #fff;
                    height: 62px;//高度要为数值，不然将导致高度减小动画失效
                    .title {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        height: 60px;
                        padding:0 13px;
                        p {
                            pointer-events: none;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                    }   
                }
            }
        
        }
    }
}

#undo {
    height: 50px;
    z-index: 1;
    font-size: 14px;
    background-color: $green;
    display: none;
    color: $black;
    padding:0 20px;
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    p {
        float:left;
        line-height:50px;
    }
    #undoButton {
        float:right;
        color: yellow;
        font-weight: bolder;
    }
    
}

//内容编辑界面
#editor {
    z-index: 2;
    background-color: #fff;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: all .2s ease;
    transform: scaleY(0);
    transform-origin: center bottom;
   
   
    
    header {
        height: 40px;
        background-color: $blue;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:5px 20px 0;
        box-sizing: border-box;
        color: #fff;
        
      
    }

    main{
        display: flex;
        flex-direction: column;
        flex: 1;
        .edTitle {
            height: 40px;
            background-color: $blue;
            padding:3px 10px;
            color: #fff;
            input {
                height: 100%;
                width: 100%;
                background-color: $blue;
                font-size: 16px;
                color: #fff;
                &::-webkit-input-placeholder{
                    color: #fff;
                    font-size: 14px;
                }

              
            }
        }

        .edDetail {
            flex:1;
            display: flex;
            box-sizing: border-box;
            padding: 20px;

            textarea {
                flex: 1;
                resize: none;
            }
        }

        .edDeadline {
            width: 100%;
            height:40px;
            background-color: lightgreen;
            .year {
                width: 100%/3;
                height: 100%;
                background-color: #fff;
            }
            .month {
                width: 100%/3;
                height: 100%;
            }
            .day {
                width: 100%/3;
                height: 100%;
            }
        }
    }

}

.inputNewItem {
    height: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 1px -1px 4px #ccc;
    background-color: #fff;
    #inputArea {
        height: 100%;
        width: 90%;
        font-size: 16px;
        padding-left: 20px;
        box-sizing: border-box;
    }
    #send {
        height: 100%;
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $black;
        padding:0 15px;
        i {
            pointer-events: none;
        }

    }
}

.confirmDelWrap {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    justify-content: center;
    align-items: center;

    .confirmDel {
        position: absolute;
        box-sizing: border-box;
        border-radius: 2px;
        height: 90px;
        width: 300px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;
        p {
            color: $black;
        } 
        .confirm {
            display: flex;
            justify-content: flex-end;
            color: $blue;
            font-size: 14px;
            #true {
                margin-left: 20px;
            }
        }
    }
}   